body {
  
  font-family: "Roboto", sans-serif;  
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  
  padding: 0;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1{
  
  font-family: "Candal", sans-serif;
}

:root {
  --verde: #26daaf;
  --rosa: #df1761;
}